<p id="notice"><%= notice %></p>

<h1>Listing Token Access Rites</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @token_access_rites.each do |token_access_rite| %>
      <tr>
        <td><%= link_to 'Show', token_access_rite %></td>
        <td><%= link_to 'Edit', edit_token_access_rite_path(token_access_rite) %></td>
        <td><%= link_to 'Destroy', token_access_rite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Token access rite', new_token_access_rite_path %>
